[Unit]
Description=Kuvasz Streamer
Documentation=https://streamer.kuvasz.io
Wants=network-online.target
After=network-online.target

[Service]
User=kuvasz
Group=kuvasz
Type=simple
ExecStart=/usr/bin/kuvasz-streamer
LimitNOFILE=10000
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kuvasz-streamer

[Install]
WantedBy=multi-user.target

